<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>beam-metop-avhrr-reader</symbolicName>
    <version>1.3</version>
    <name>MetOp-AVHRR Product Reader</name>

    <description>
        A product reader for MetOp-AVHRR files.
    </description>
    <changelog>
        <![CDATA[From 1.2 to 1.3<br>
        <ul>
        <li>[BEAM-764] METOP AVHRR product have start and stop time from parent product</li>
        </ul>
        From 1.1 to 1.2<br>
        <ul>
        <li>[BEAM-741] METOP AVHRR reader should detect reader qualification better</li>
        </ul>
        From 1.0 to 1.1<br>
        <ul>
        <li>[BEAM-537] Port METOP-AVHRR reader from BEAM 3.7</li>
        <li>[BEAM-714] Read cloud band from METOP products</li>
        <li>[BEAM-715] METOP product from UMARFcan not be opened</li>
        </ul>
        ]]>
    </changelog>
    <vendor>Brockmann Consult GmbH</vendor>
    <contactAddress>Max Planck Str.2, 21502 Geesthacht (Germany)</contactAddress>
    <copyright>(C) 2007 by Brockmann Consult GmbH</copyright>
    <url>http://envisat.esa.int/beam</url>

    <dependency>
        <module>beam-core</module>
    </dependency>
    <dependency>
        <module>beam-avhrr-reader</module>
    </dependency>
    <dependency>
        <module>beam-visat</module>
        <optional>true</optional>
    </dependency>

    <categories>AVHRR,MetOp,Reader,VISAT</categories>

    <extension point="beam-ui:actions">
        <action>
            <id>importMetopAvhrr3L1Product</id>
            <class>org.esa.beam.visat.actions.ProductImportAction</class>
            <formatName>METOP_AVHRR_3_L1B</formatName>
            <useAllFileFilter>true</useAllFileFilter>
            <text>Import MetOp-AVHRR/3 Level-1b Product...</text>
            <mnemonic/>
            <shortDescr>Import a MetOp-AVHRR/3 Level-1b data product or product subset.</shortDescr>
            <description>Import a MetOp-AVHRR/3 Level-1b data product or product subset.</description>
        </action>
    </extension>

</module>